# ignore everything in this directory, except for this file
*
!.gitignore
!gpgpusim.config
!trace.config
!traces_tensorcore_bert_base.tar.bz2
!model_pool_finetuned.py
!bench_trace_bert.sh
!trace_bert.sh
!visualize_results.py
!simulation_results.ods
!organized_sim_results.csv
!plots/
!plots/*
!instruction_count.py
!models/
!organize_sim_stats.py